{% extends "base.html" %}
{% block smart_home %}
    <div class="row">
        <div class="col s4">
            <!-- Dashboard for some updates in nearby locations.  -->
            <div class="card teal whiten-2 z-depth-0">
                <div class="card-content white-text">
                    <span class="card-title">Announcements !</span>
                    <div class="row">
                        <span> Medicines have come to the hospital !</span>
                    </div>
                    <div class="row">
                        <span> Fresh groceries - Order now !</span>
                    </div>
                    <div class="row">
                        <span> Enroll your kids to the ABC school for all round development !</span>
                    </div>
                    <div class="row">
                        <span> Book movie tickets at the lowest prices for an enjoyable evening !</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s8 house_info">
            </div>
        </div>
    </div>

    {% block house_static %}
        <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.10.1/firebase-firestore.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyBtX5YAvqEleUitoziBOshCXdjX2nzNj_c",
            authDomain: "smart-city-61e3d.firebaseapp.com",
            databaseURL: "https://smart-city-61e3d.firebaseio.com",
            projectId: "smart-city-61e3d",
            storageBucket: "smart-city-61e3d.appspot.com",
            messagingSenderId: "1023785624836"
          };
          firebase.initializeApp(config);
        </script>
        <script src="{{ url_for('static', filename='js/database.js') }}"></script>
    {% endblock house_static %}
{% endblock smart_home %}